* {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background: #222f3e;
  font-family: sans-serif;
  padding-top: 100px;
}

.error {
  border: 2px solid #ec1212 !important;
}
.errors {
  text-align: center;
  margin-top: 3em;
  color: #ec1212;
  text-transform: uppercase;
  line-height: 28px;
}
.fieldset {
  border: none;
  display: flex;
  font-size: 1.2em;
  input[type="text"], input[type="email"], textarea {
    padding: 10px 15px;
    width: 45%;
    margin: 20px auto;
    border: 3px solid #2C3A47;
  }
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  input[type="submit"] {
    padding: 5px 10px;
    background: #2C3A47;
    border: 1px solid #fff;
    color: pink;
  }
}
